@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.linear-cyan {
  background: linear-gradient(89.79deg, rgb(12, 255, 240) 0.18%, rgb(12, 255, 167) 99.9%);
}

.animate-img-bg {
  background: linear-gradient(180deg, rgba(12, 255, 167, .08) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 16px;
}

.animate-img-bg-ethereum {
  background: linear-gradient(180deg, rgba(12, 255, 167, .08) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 16px;
}

.gray-btn {
  border: 1px solid rgba(255, 255, 255, .1);
  background: rgba(255, 255, 255, .05);
}

.gray-border {
  border: 1px solid rgba(255, 255, 255, .1);
}

.light-opactiy {
  display: block;
  position: absolute;
  content: "";
  width: 500px;
  height: 300px;
  background: linear-gradient(89.79deg, #0cfff0 .18%, #0cffa7 99.9%);
  opacity: .2;
  filter: blur(250px);
  left: -180px;
  top: -146px;
  z-index: 1;
}